/*CSS document*/


nav {
	height: 30px;  
	text-transform: uppercase;

}

nav ul li { 
	float: left;
	list-style-type: none; 
	background: #555;
	width: 160px;
	text-align: center;
	background-color:#cbedc4; 
	
}

nav ul li a {
	text-decoration: none;
	color: #ffffff
; 
	font-family:century gothic;
}

nav ul li a:hover {
	color: #e7fee6
	 
}

#page-wrap{ 
	width:900px;
	margin:0 auto;
}

heading{
	text-align:center;
	font-family:century gothic;
	color:#1b7e1e;
	
	}
	head{
	float:center;
	}

#container {
	background: #cbedc4;
	padding: 30px;

}

body{

background-color: #cbedc4;
}

