/*CSS document*/


nav {
	height: 30px;  
	text-transform: uppercase;

}

nav ul li { 
	float: left;
	list-style-type: none; 
	background: #555;
	width: 160px;
	text-align: center;
	background-color:white; 
	
}

nav ul li a {
	text-decoration: none;
	color: #7c242a; 
	font-family:century gothic;
}

nav ul li a:hover {
	color: #edadab
	 
}

#page-wrap{ 
	width:900px;
	margin:0 auto;
}

heading{
	text-align:center;
	font-family:century gothic;
	color:#7c242a;
	}

#container {
	background: #ffffff;
	padding: 30px;

	
}

