/*CSS document*/


/*PAGE*/




heading{
        width:100%;
        height:218px;
        margin-left:auto;
        margin-right:auto;
        background-position:center;
        background-repeat:no-repeat;
	padding-left:300px;
	font-family: 'Rock Salt', cursive;;
	color:#1b7e1e;
	
	}
	
body{
background-color: #cbedc4;
}

/* DIVS*/

#page-wrap{ 
	width:900px;
	margin:0 auto;
}

#container {
	background: #cbedc4;
	padding: 30px;

}

#tree{
	padding-left:300px;
	}
	
/*CLASS*/

.heading{

padding-left:250;
}


/* NAV*/
nav {
	height: 30px;  
	text-transform: uppercase;

}

nav ul li { 
	float: left;
	list-style-type: none; 
	background: #555;
	width: 160px;
	text-align: center;
	background-color:#cbedc4; 
	
}

nav ul li a {
	text-decoration: none;
	color: #ffffff; 
	font-family: 'Bad Script', cursive;
}

nav ul li a:hover {
	color: #e7fee6;
	 
}

